@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  background: antiquewhite;
  border-radius: 6px;
  margin: 10px 0px;
  padding: 6px 8px;
  min-width: 5rem;
}
.slider-main {
  display: flex;
  align-items: center;
  gap: 10px;
}